/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #08a9c1;
    --black: #000000;
    --white: #fafafa;
    --gray: #898989;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
}

.dash {
    border: 0.5px dashed;
    opacity: 0.2;
    margin: 15px 0;
    width: 90%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 5rem;
}

.about img {
    width: 20vw;
    height: auto; 
    box-shadow: 0 0 1rem var(--blue);
    border-radius: 1rem;
    margin-right: 20px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.about-content .intro {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    text-shadow: 0 0 1rem var(--black);

}

.about-content .prof {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0 0 1rem var(--black);

}

.about-content p {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 15px;
    text-shadow: 0 0 1rem var(--black);
    width: 90%;
}

.about-content .btn {
    display: inline-block;
    border: 2px solid var(--blue);
    border-radius: 50px;
    background-color: var(--blue);
    padding: 10px 40px;
    text-align: center;
    color: var(--white);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--blue);
}

.about-content .btn:hover {
    background: rgba(0, 0, 0, 0.5);
    color: var(--blue);
    border: 2px solid var(--blue);
    box-shadow: none;
}