/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #08a9c1;
    --black: #000000;
    --white: #fafafa;
    --gray: #898989;
}

html {
    overflow-y: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form {
	max-width: 70rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3rem;
}

.contact form .input-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 10px;
	font-size: 1.6rem;
	color: var(--text-color);
	background: rgba(0,0,0, 0.6);
	border-radius: 0.8rem;
    margin: 0.5rem 0;
	border: 1px solid var(--blue);
}

.contact form .input-box input {
	width: 49%;
}

 .btn {
    display: inline-block;
    border: 2px solid var(--blue);
    border-radius: 50px;
    background-color: var(--blue);
    padding: 10px 40px;
    text-align: center;
    color: var(--white);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--blue);
    margin-top: 20px;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.5);
    color: var(--blue);
    border: 2px solid var(--blue);
    box-shadow: none;
}