body {
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}

/* Media Queries */
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}

    .navbar a {
        font-size: 2rem;
    }

    .back-heading {
        position: relative;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@media (max-width: 991px) {
	.header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }


    .navbar a {
        margin: 0 10px;
        font-size: 1.5rem;
    }


	section {
		padding: 10rem 3% 2rem;
	}

    .work {
		padding-bottom: 7rem;
	}

	.work-content {
		grid-template-columns: 1fr;
	}

    .skills {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skill-content {
        flex-wrap: wrap;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .tools {
        margin-top: 50px;
    }

    .tool-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tool {
        width: 150px;
        height: 150px;
        border-radius: 1rem;
        padding: 1px 10%;
    }

    .tool img {
        width: 30px;
        height: 30px;
        margin: 5px 5px 0 5px;
        padding: 5px;
    }

    .tools .back-heading {
        margin-bottom: 40px;
    }

	.footer {
		padding: 2rem 3%;
	}
}

@media (max-width: 768px) {

	.home {
		flex-direction: column;
	}

	.home-content h1 {
		font-size: 3rem;
	}
    
    .about img {
        margin:0 auto;
		width: 50vw;
		margin-bottom: 4rem;
	}

	.about {
		flex-direction: column;
        text-align: center;
	}

    .about p {
        text-align: center;
        width: 100%;
    }

    .about .dash {
        width: 100%;
    }

    .back-heading .fade-heading {
        font-size: 6rem;
    }

    .tool {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 365px) {
	.about img {
		width: 50vw;
	}


    .navbar a {
        margin: 0 5px;
    }

    .back-heading .fade-heading {
        font-size: 4rem;
    }

    .back-heading .front-heading .heading{
        font-size: 2rem;
    }
}